:root {
    --main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    
/*    background: green;*/
    
    transform: translate(-50%, -50%) scale(1);
}

@media screen and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .center {
        transform: translate(-50%, -100%) scale(2);
    }
}

@media screen and (max-width: 1500px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .center {
        transform: translate(-50%, -100%) scale(2);
    }
}

.titleContainer {
    display: flex;
    width: 405px
}
.fixed {
    width: 100px;
}

img {
    width: 94px;
    height: 94px;
    filter: drop-shadow(0px 2px 15px gray);
    -webkit-filter: drop-shadow(0px 2px 15px gray);
    
    padding: 30px;
    margin: -30px;
    
    transform: translate(0, 1px);
}

.t1 {
    font-family: var(--main-font);
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 0em;
    
    position: relative;
    left: 20px
}

.t2 {
    font-family: var(--main-font);
    font-size: large;
    font-weight: 500;
    margin-bottom: 0.2em;
    
    position: relative;
    left: 20px
}

.t3 {
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: 600;
    opacity: 0.6;
    margin-bottom: 0.2em;
    
    position: relative;
    left: 20px
}

h2 {
    font-family: var(--main-font);
    font-size: 30px;
    font-weight: 750;
    margin-top: 1em;
    margin-bottom: 0.25em;
}

.project {
    position: relative;
    display: block;
    
    margin-top: 0.25em;
    
    font-family: var(--main-font);
    line-height: 1.5em;
    
    border-radius: 0.75em;
    left: -0.75em;
    right: 0.75em;
    padding: 0.5em 0.75em;
    
    background-color: #fff;
    
    transition: background-color 0.25s ease-in-out, transform 0.2s ease-in-out,
    opacity 0.25s ease-in-out;
}

@supports not (-webkit-touch-callout: none) {
    .project:hover {
        background-color: #eee;
        
        transition: background 0.05s ease-in-out, transform 0.2s ease-in-out,
        color 0.25s ease-in-out;
    }

    .project:active {
        transform: scale(0.98);
        transition: background 0.05s ease-in-out, transform 0.075s ease-in-out;
    }
}

.project a {
    text-decoration: none;
    color: black;
}

.project-tag {
    font-weight: 500;
    font-size: 0.8em;
    border-radius: 0.5em;
    background: #e6e6e6;
    color: gray;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    position: relative;
    bottom: 2px;
    left: 2px;
}

b1 {
    color: #007aff;
    font-size: 1.2em;
    font-weight: 500;
}

b2 {
    font-weight: 500;
    font-size: 1em;
}
